@import "tailwindcss";

@layer base {
  ::selection {
    background-color: rgba(28, 255, 255, 0.363); /* equivalent to bg-lime-300 */
    color: #1a2e05;            /* equivalent to text-lime-950 */
  }
}

html {
  scroll-behavior: smooth;
}